<header>
  <div class="container">
    <nav>
      <div class="email-content">
        <a href="/" class="logo">M</a>
        <a [href]="hrefGmail">
          {{ gmail }}
        </a>
      </div>
  
      <ul>
        <li *ngFor="let title of getListTitlesHeader; let i = index"
          class="header-li">
          <a [href]="title.href">
            {{ title.name }}
            <i [class]="title.icon"></i>
          </a>
          <span></span>
        </li>
      </ul>
    </nav>
  </div>
</header>