header{
  position: relative;
  background: transparent;
  height: var(--width-nav-bar);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;

  nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .email-content{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      a{ color: white; }
      .logo{
        font-size: 2em;
        font-family: var(--ff-logo);
        margin-right: 15px;
      }
    }

    ul{
      display: flex;
      gap: 1rem;
      
      li{
        position: relative;
        a{
          color: white;
          text-decoration: none;
          padding: 0 10px;
          font-size: 1.20em;
        }
        span{
          position: absolute;
          content: "";
          bottom: 0;
          width: 0;
          height: 100%;
          border-radius: 5px;
          z-index: -10;
          border: 1px solid var(--yellow-400);
        }
      }
    }
    .opencloseheader{ display: none; }
  }
}

.border-icon{
  box-shadow: 0 0 10px 2px var(--yellow-600);
}

@media screen and (max-width: 770px) {
  header{
    background-color: var(--black-700);
    nav{
      .email-content{
        .correo{ font-size: 1em; }
      }
      ul{
        background-color: var(--black-600);
        position: absolute;
        left: 0;
        top: -100vh;
        width: 100%;
        height: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 30% 0;
        align-items: center;
        z-index: 9999;
      }
      .opencloseheader{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 20px;
        overflow: hidden;
        cursor: pointer;
        i{
          font-size: 2em;
          position: absolute;
        }
      }
    }
  }
}
@media screen and (max-width: 320px) {
  header{
    nav{
      .email-content{
        .logo{ font-size: 2.5em; }
        .correo{ font-size: .9em; }
      }
    }
  }
}

// Animaciones
// Mostrar que seccion esta seleccionada
$durationAnimation: .3s;
$timing: ease-out;

.showRight{
  left: 0;
  animation: select $durationAnimation $timing normal both;
}
.showLeft{
  right: 0;
  animation: select $durationAnimation $timing normal both;
}
.hiddenRight{
  right: 0;
  animation: select2 $durationAnimation $timing normal backwards;
}
.hiddenLeft{
  left: 0;
  animation: select2 $durationAnimation $timing normal forwards;
}

@keyframes select {
  0%  { width: 0; }
  100%{ width: 100%; }
}
@keyframes select2 {
  0%  { width: 100%; }
  100%{ width: 0; }
}

// Mostrar / ocultar iconos en header responsive
.showIcon{ animation: showIcon .5s normal forwards; }
.hiddenIcon{ animation: hiddenIcon .5s normal forwards; }

@keyframes showIcon {
  0%{
    opacity: 0;
    transform: rotate(180deg);
  }
  100%{
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes hiddenIcon {
  0%{
    opacity: 1;
    transform: rotate(180deg);
  }
  100%{
    opacity: 0;
    transform: rotate(0);
  }
}


// Mostrar / ocultar header responsive

.showHeader{ animation: showHeader .5s normal forwards; }
.hiddenHeader{ animation: hiddenHeader .5s normal forwards; }

@keyframes showHeader {
  0%{
    top: -100%;
    height: 0;
  }
  100%{
    top: var(--width-nav-bar);
    height: calc(100vh - var(--width-nav-bar));
  }
}

@keyframes hiddenHeader {
  0%{
    top: var(--width-nav-bar);
    height: calc(100vh - var(--width-nav-bar));
  }
  100%{
    top: -100vh;
    height: 0;
  }
}