.contain{
    position: relative;

    nav{    
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
    }

    div{
        margin-top: 50px;
    }

    footer{
        height: 200px;
    }
}