<div class="contain">

    <nav (window:resize)="cambiarMenu()">

        <c-bar-nav [itemNavBar]="items" *ngIf="!banderaMenu"></c-bar-nav>

        <c-bar-nav-responsive *ngIf="banderaMenu"
         [itemNavBar]="items" (onShowNavBar)="showNavBar()"></c-bar-nav-responsive>
    
    </nav>
    
    <div>
        <router-outlet></router-outlet>
    </div>

    <!-- <footer>
        footer
    </footer> -->
    <a href="https://wa.me/59178071967?text=Acabo%20de%20ver%20su%20portafolio%20quisiera%20saber%20mas%20de%20usted.">
        +591 78071967
    </a>
</div>