
#container-proyectos{
    width: 600px;
    height: 500px;
    display: flex;
    position: relative;
    overflow: hidden;
    border: 5px double var(--blue-500);
    box-shadow: 0 0 15px 2px var(--blue-500);
    border-radius: 20px;

    .proyectos{
        // transform: translateX(-500px);
        transition: transform 1s;
        position: relative;
        height: 500px;
        cursor: pointer;

        span{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: #fff;
            position: absolute;
            bottom: -100%;
            left: 0;
            background: #000;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all .70s;

            p, a{
                width: 80%;
                color: #fff;
            }
        }

        img{
            width: 600px;
            height: 100%;
            transition: all .70s;
        }
    }
    .proyectos:hover span{
        bottom: 0;
        opacity: .85;
    }
}

.btn-previous-next-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 50px;

    input:first-child{
        background: var(--blue-400);
    }

    input{
        appearance: none;
        border-radius: 50%;
        cursor: pointer;
        width: 20px;
        height: 20px;
        border: 2px solid var(--blue-400);
        transition: background 1s;
    }
}

@media screen and ( max-width: 720px ) {
    #container-proyectos{
        width: 500px;
        height: 500px;
        .proyectos{
            img{
                width: 500px;
            }
        }
    }
}

@media screen and ( max-width: 550px ) {
    #container-proyectos{
        width: 400px;
        height: 400px;
        .proyectos{
            img{
                width: 400px;
            }
        }
    }
}

@media screen and ( max-width: 480px ) {
    #container-proyectos{
        width: 300px;
        .proyectos{
            img{
                width: 300px;
            }
        }
    }
}

@media screen and ( max-width: 350px ) {
    #container-proyectos{
        width: 250px;
        height: 350px;
        .proyectos{
            img{
                width: 250px;
            }
        }
    }

    .btn-previous-next-img{
        gap: 5px;
        width: 100%;
        height: 50px;
        input{
            width: 15px;
            height: 15px;
        }
    }
}