.body{
  position: relative;
  
  .header-fixed{
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    background: var(--black-700);
    box-shadow: 0 0 10px 0 var(--yellow-800); 
    animation: showUp .32s ease-in;
  }
  @keyframes showUp {
    from{ transform: translateY(-100%); }
    to  { transform: translateY(0); }
  }
}

