<div class="body">
  <div class="header-fixed fadein" *ngIf="showHeaderFixed">
    <app-header/>
  </div>

  <app-home id="home"></app-home>
  <!-- <app-services id="service" [listServices]="listService"></app-services> -->

  <app-about-me id="about-me" class="page"></app-about-me>

  <app-skills id="skills" class="page"></app-skills>

  <app-portafolio id="portafolio" class="page"></app-portafolio>

  <app-contac-me-section id="contact-me" class="page"></app-contac-me-section>

  <c-footer></c-footer>
</div>