.containSkills{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.skill{
    background-color: var(--blue-500);
    padding: 10px;
    width: 70%;
}