
#container{
    h2{
        text-align: center;
        color: #fff;
        font-size: 1.8em;
    }
    .contain-card{
        width: 300px;
        height: 300px;
        display: flex;
        position: relative;
        overflow: hidden;
        border: 5px double var(--yellow-600);
        border-radius: 20px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        .content-info{
            color: #fff;
            position: absolute;
            bottom: -100%;
            left: 0;
            background: #000000d2;
            width: 100%;
            height: 100%;
            transition: .45s;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .tecnologys{
                ul{
                    margin-top: 5px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    li{
                        border-radius: 3px;
                        background: #000000;
                        padding: 2px;
                        font-size: 2em;
                    }
                    
                }
            }
            .buttons{
                width: 100%;
                a{
                    button{
                        margin-top: 5px;
                        position: relative;
                        border-radius: 5px;
                        padding: 10px 0;
                        width: 100%;
                        overflow: hidden;
                        cursor: pointer;
                        transition: all .45s;
                        color: #fff;
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
    &:hover h2{
        text-shadow: -10px 10px 15px var(--yellow-600);
    }
    &:hover .contain-card .content-info {
        transform: translateY(-100%);
    }
    &:hover .contain-card {
        box-shadow: 0 0 15px 2px var(--yellow-600);
    }
}

@media screen and ( max-width: 990px ) {
    #container{
        .contain-card{
            width: 250px;
            height: 250px;
        }
    }
}

@media screen and ( max-width: 550px ) {
    #container{
        .contain-card{
            width: 200px;
            height: 200px;
            .content-info {
                .tecnologys {
                    ul {
                        li {
                            font-size: 1.2em;
                        }
        
                    }
                }
        
                .buttons {
                    a {
                        button {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}