<div id="container">
    <h2>{{ proyect.name }}</h2>
    <div class="contain-card">
        <img [src]="proyect.srcImg" alt="">
        <span class="content-info">
            <div class="tecnologys">
                <ul class="list-tecnologys">
                    <li *ngFor="let tecnology of proyect.useTecnology"
                        [title]="tecnology.name">
                        <i [class]="tecnology.classIcon" [style]="'color:'+tecnology.color"></i>
                    </li>
                </ul>
            </div>
            <div class="buttons">
                <a [href]="proyect.hrefCode" target="_blank">
                    <button class="bg-green-500">
                        <i class="fa-solid fa-code"></i>
                        Código
                    </button>
                </a>
                <a [href]="proyect.hrefDemo" target="_blank">
                    <button class="bg-blue-500">
                        <i class="fa-solid fa-film"></i>
                        Demo
                    </button>
                </a>
            </div>
        </span>
    </div>
</div>