

<div class="grid col-12 contain">

    <p-card class="lg:col-6 md:col-12">
        <p-divider align ="left" class="mx-2">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>About me</b>
            </div>
        </p-divider>
        <p class="contenido">
            {{ dataPersonal.name }}
        </p>
    </p-card>

    <p-card class="lg:col-6 md:col-12">
        <p-divider align ="left" class="mx-2">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>About me</b>
            </div>
        </p-divider>
        <p class="contenido">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
    </p-card>
    
</div>