<div class="contain">

    <app-header [isInHome]="true"></app-header>

    <svg viewBox="0 0 1080 300">
        <text x="50%" y="50%" text-anchor="middle" class="animate-stroke">
            Dev
        </text>
     </svg>

    <div class="container info-personal">
        <div class="contain-data">
            <h2>Soy Miguel</h2>
            <h1 class="text-linear">FullStack Developer</h1>
            <p>
                Desarrollador web con más de 3 años de experiencia.
                Trabajo con Angular, .Net y PostgreSQL, creando aplicaciones seguras, escalables y con buen diseño.
            </p>

            <div class="content-list-links">
                <ul class="list-links">
                    <li>
                        <a href="/assets/cv-español.pdf" download>
                            <button>
                                Descargar Cv
                                <i class="fa fa-download"></i>
                            </button>
                        </a>
                    </li>
                    <li>
                        <c-chips [chipsItem]="redes"></c-chips>
                    </li>
                </ul>
            </div>

        </div>

        <div class="content-img-profile">
            <div class="content-img">
                <img class="img-profile" 
                    src="assets/img/perfil.jpeg" alt="Profile">
            </div>
        </div>
    </div>
</div>