$size-border: 5px;

.contain{
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    background: var(--black-700);
    z-index: 1;

    .info-personal{
        z-index: 10;
        color: white;
        margin-top: 100px;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;

        .contain-data{
            h2{
                font-size: 30px;
            }

            h1{
                font-size: 2.5rem;
                
            }

            p{
                margin: 20px 0;
                font-size: 20px;
                max-width: 500px;
            }

            .content-list-links{
                .list-links{
                    margin: 70px 0;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    flex-wrap: wrap;
                    li{
                        button{
                            font-size: 1rem;
                            margin: 10px 0;
                            border-radius: 30px;
                            padding: 15px 30px;
                            background: transparent;
                            color: var(--yellow-400);
                            border: 1px solid var(--yellow-400);
                            cursor: pointer;
                            transition: all .4s;
                            i{ margin-left: 8px}
                        }
                        button:hover{
                            background: var(--yellow-400);
                            color: black;
                        }
                    }
                }
            }
        }

        .content-img-profile{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            position: relative;
            
            .content-img{
                display: flex;
                height: 80%;
                width: 85%;
                z-index: 100;
                img{
                    transform: rotate(4.29deg);
                    border-radius: 35px;
                    border: 2px solid var(--yellow-400);
                    transition: all .4s;
                    object-fit: cover;
                    width: 100%;
                }
                img:hover{
                    border: 3px solid var(--yellow-600);
                    transform: rotate(0);
                }
            }
        }
        .content-img-profile::after{
            content: "";
            bottom: 0;
            left: 0;
            position: absolute;
            width: 220px;
            height: 220px;
            background: -o-linear-gradient(260deg, var(--yellow-400) 0%, #000 100%);
            background: linear-gradient(260deg, var(--yellow-400) 0%, #000 100%);
            border-radius: 50%;
            filter: blur(100px);
            margin-top: -5%;
            margin-right: -5%;
        }
    }
    

    svg{
        font-family: var(--tj-ff-russo);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 46%;
        top: 55%;
        transform: translate(-50%, -50%) scale(1);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        animation: 3s pulsate infinite alternate ease-in-out;

        .animate-stroke{
            font-size: 12rem;
            animation: stroke 4s;
            opacity: 0.7;
            fill: transparent;
            stroke: var(--black-500);
            stroke-width: 1;
        }

        @keyframes stroke {
            0% {
                stroke-dashoffset: 25%;
                stroke-dasharray: 0 50%;
                stroke-width: 1;
            }
            100% {
                stroke-dashoffset: 100%;
                stroke-dasharray: 100% 0;
                stroke-width: 1;
            }
        }
    }

    @keyframes pulsate {
        0% {
            transform: translate(-50%, -50%) scale(1);
        }
        50% {
            transform: translate(-50%, -50%) scale(1.05);
        }
        100% {
            transform: translate(-50%, -50%) scale(1);
        }
    }
    &:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        height: 300px;
        margin-top: -5%;
        margin-right: -5%;
        background: linear-gradient(260deg, var(--yellow-400) 0%, #000 100%);
        border-radius: 50%;
        filter: blur(150px);
        z-index: -1;
    }
}


@media screen and (max-width: 992px) {
    .contain{
        min-height: max-content;
        padding-bottom: 120px;
    
        .info-personal{
            position: relative;
            margin-top: 25px;
            display: flex;
            flex-wrap: wrap;
    
            .contain-data{
                h2{ font-size: 30px; }
                h1{ font-size: 2.4rem; }
                p{ margin: 20px 0; }
                
                .content-list-links{
                    position: absolute;
                    bottom: -75px;
                    .list-links{
                        margin: 10px 0;
                        gap: 8px;
                        li{
                            button{
                                font-size: 1rem;
                                margin: 0;
                                border-radius: 30px;
                                padding: 13px 20px;
                                i{ margin-left: 0}
                            }
                        }
                    }
                }
            }
    
            .content-img-profile{
                width: 100%;
                height: 400px;
                padding: 0;
                position: relative;
                
                .content-img{
                    height: 80%;
                    width: 60%;
                }
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .contain{
        .info-personal{
            .contain-data{
                h2{ font-size: 25px; }
                h1{ font-size: 2rem; }
                p{
                    margin: 20px 0;
                    font-size: 1.1em;
                }
            }
    
            .content-img-profile{
                width: 100%;
                height: 350px;
                .content-img{
                    height: 80%;
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 300px) {
    .contain{
        .info-personal{
            .contain-data{
                h2{ font-size: 20px; }
                h1{ font-size: 1.8rem; }
                p{ font-size: 1em; }

                .content-list-links{
                    position: absolute;
                    bottom: -120px;
                    .list-links{
                        margin: 10px 0;
                        gap: 8px;
                        li{
                            button{
                                font-size: 1rem;
                                margin: 0;
                                border-radius: 30px;
                                padding: 13px 20px;
                                i{ margin-left: 0}
                            }
                        }
                    }
                }
            }
    
            .content-img-profile{
                height: 300px;
                .content-img{
                    height: 80%;
                    width: 80%;
                }
            }
        }
    }
}