<div class="contain">

    <!-- <app-header></app-header> -->

    <svg viewBox="0 0 1080 300">
        <text x="50%" y="50%" text-anchor="middle" class="animate-stroke">
            Dev
        </text>
     </svg>

    <!-- <img src="assets/img/points.png" alt="puntos" class="points-img"> -->
    <div class="container info-personal">
        <div class="contain-data">
            <h2>Soy Miguel</h2>
            <h1 class="text-linear">Web FrontEnd Developer</h1>
            <p>
                Apasionado por crear soluciones programando. Con ganas de aprender en la práctica.
                Subiendo de rango en esto de programar 😎
            </p>

            <div class="content-list-links">
                <ul class="list-links">
                    <li>
                        <button>
                            Descargar Cv
                            <i class="fa fa-download"></i>
                        </button>
                    </li>
                    <li>
                        <c-chips [chipsItem]="redes"></c-chips>
                    </li>
                </ul>
            </div>

        </div>

        <div class="content-img-profile">
            <div class="content-img">
                <img class="img-profile" 
                    src="assets/img/perfil.jpg" alt="Profile">
            </div>
        </div>
    </div>
</div>