<div class="content">

    <div class="container columns">
        <div class="contain-data" *ngFor="let item of dataPersonal">
            <div class="title">
                <i [class]="item.icon"></i>
                <h1 class="text-linear"> {{ item.title }} </h1>
            </div>
            <div class="contain-cards">
                <c-cards
                *ngFor="let data of item.data"
                [data]="data">
    
                </c-cards>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="contain-data">
            <div class="title">
                <i class="fa-solid fa-certificate fa-2xl"></i>
                <h1 class="text-linear">Certificados</h1>
            </div>
            <ol class="certificates">
                <li *ngFor="let item of certificates">
                    <a [href]="item.href" target="_blank">
                        {{ item.title }}
                    </a>
                </li>
            </ol>
        </div>
    </div>

</div>