.carrousel{
    width: 1500px;
    height: 500px;
    overflow: hidden;

    .slider-track{
        display: flex;
        width: calc(500px * 10);
        height: 100%;
        animation: linear infinite scrollx 5s;

        .slide{
            width: 500px;
            color: #000;
            font-weight: 900;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 3em;
            color: white;

            i{
                font-size: 8em;
                width: 80%;
                height: 80%;
                background: #000;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@keyframes scrollx {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-500px * 5));
    }
}

@media screen and ( max-width: 1550px ) {
    .carrousel{
        width: 1000px;
    }
}
@media screen and ( max-width: 1020px ) {
    .carrousel{
        width: 500px;
    }
}
@media screen and ( max-width: 520px ) {
    .carrousel{
        display: grid;
        width: 400px;
        height: 400px;

        .slider-track{
            width: calc(400px * 10);
    
            .slide{
                width: 400px;
                font-size: 2em;
            }
        }
    }
}

@media screen and ( max-width: 420px ) {
    .carrousel{
        width: 300px;
        height: 300px;

        .slider-track{
            width: calc(300px * 10);
    
            .slide{
                width: 300px;
            }
        }
    }
}

@media screen and ( max-width: 320px ) {
    .carrousel{
        width: 200px;
        height: 200px;

        .slider-track{
            width: calc(200px * 10);
    
            .slide{
                width: 200px;   
                font-size: 1.5em;

                i{
                    font-size: 4em;
                }
            }
        }
    }
}