<div class="services">
  <div class="container">
    <div class="description">
      <h1> Servicios </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos repellendus aut id? Id repellendus error pariatur quo possimus? Optio nesciunt sint voluptates provident architecto ea fugiat nihil quas expedita exercitationem.
      </p>
    </div>
  
    <div class="list-services">
      <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam accusamus voluptas quas hic ex? Reprehenderit iusto incidunt nesciunt nemo tempore praesentium officia, vero labore, ad ipsa, optio doloribus modi sit?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam accusamus voluptas quas hic ex? Reprehenderit iusto incidunt nesciunt nemo tempore praesentium officia, vero labore, ad ipsa, optio doloribus modi sit?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam accusamus voluptas quas hic ex? Reprehenderit iusto incidunt nesciunt nemo tempore praesentium officia, vero labore, ad ipsa, optio doloribus modi sit?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam accusamus voluptas quas hic ex? Reprehenderit iusto incidunt nesciunt nemo tempore praesentium officia, vero labore, ad ipsa, optio doloribus modi sit?</li>
      </ol>
    </div>
  </div>
</div>