<div class="services">

  <div class="container">

    <div class="description">
      
      <h1 class="text-linear"> Algunos de mis Servicios </h1>

      <p>
        Me manejo bien en estas ramas:
      </p>

    </div>
  
    <div class="list-services">

      <ol>
        <li *ngFor="let service of listServices; let i = index">
          <span>0{{ i + 1 }} </span>
          <h2> {{ service.title }} </h2>
          <div>
            <p> {{ service.description }} </p>
          </div>
        </li>
      </ol>

    </div>

  </div>

</div>