<header>
    <h1>Miguel Angel Cuellar Serrudo<br>fasdfsadf</h1>
    <p-button label="Conocer más" class=""
    styleClass="p-button-outlined p-button-info">
    </p-button>

    <ul class="ul-redes">
        <li>
            <a href="https://github.com/miguel-124C" target="_blank">
                <p-chip
                label="GitHub" icon="pi pi-github">
                </p-chip>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/miguel-cuellar-013a96258/" target="_blank">
                <p-chip
                label="LinkEdin"  
                icon="pi pi-linkedin" [style]="{background:'var(--blue-900)'}">
                </p-chip>
            </a>
        </li>
    </ul>
</header>


<nav class="nav">
    <app-sections [style]="{height: '100%'}"
        [sections]="sections"></app-sections>
</nav>

<div class="sections">
    <!-- <app-about-me></app-about-me> -->
    <router-outlet></router-outlet>
    
</div>