<footer>
  <div class="container">
    <div class="other-links">
      <div class="links">
        <div class="home">
          <a href="/">
            <img class="img-icon" src="favicon.ico" alt="">
          </a>
        </div>
        <div>
          <a href="https://www.youtube.com/channel/UCt8ueV1xikIb-HaqtlEKgxQ" target="_blank">
            <i class="fa-brands fa-youtube"></i>
            YouTube
          </a>
        </div>
        <div>
          <a href="https://fernando-herrera.com/student/7118/"
            target="_blank">
            Perfil Devtalles
          </a>
        </div>
      </div>
      <div class="flag">
        <h6>Bolivia</h6>
        <img src="assets/img/bolivia.png" alt="Bolivia" title="Bolivia">
      </div>
    </div>
  
    <hr>
    <div class="marca">
      © 2024 <strong>Miguel Angel Cuellar Serrudo</strong>
    </div>
  </div>
</footer>