<footer>
  <div class="left">
    <div>Dev: Miguel Angel Cuellar Serrudo</div>
    <div>
      <a target="_blank" href="https://github.com/miguel-124C">GitHub</a>
    </div>
    <div>
      <a target="_blank" href="https://wa.me/59178071967">+591 78071967</a>
    </div>
  </div>
  <div class="right">
    <div>Bolivia - Santa Cruz de la Sierra</div>
    <div>
      <a target="_blank" href="mailto:mikicuellar20@gmail.com">Gmail</a>
    </div>
    <div>
      <a target="_blank" href="https://www.linkedin.com/in/miguel-cuellar-013a96258/">LinkEdin</a>
    </div>
  </div>
</footer>