

.cards{
  width: 90%;
  background: var(--yellow-700);
  border-radius: 25px;
  overflow: hidden;
  padding: 1rem;
  color: #fff;

  span{
    color: var(--yellow-400);
  }
}

@media screen and (max-width: 770px) {
  .cards{ width: 100%; }
}
@media screen and (max-width: 320px) {
  .cards{
    span{ font-size: .9em; }
    h2{ font-size: 1.2em; }
    p{ font-size: 1em; }
  }
}
