

.cards{
  width: 90%;
  background: var(--yellow-700);
  border-radius: 25px;
  overflow: hidden;
  padding: 1rem;
  color: #fff;

  span{
    color: var(--yellow-400);
  }
}

@media screen and (max-width: 770px) {
  .cards{ width: 100%; }
}
