.container{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    height: var(--width-nav-bar);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    .list-contain{
        display: flex;
        gap: 10px;
    
        .list-item{
            display: flex;
            gap: 5px;
            align-items: center;
            border-radius: 10px;
            padding: 4px 8px;
            cursor: pointer;
    
            div{
                font-size: 1.2em;
            }
        }
        .list-item:hover{
            background: var(--black-400);
        }
    
        .select{
            color: var(--blue-400);
            border: 1px solid var(--blue-400);
            font-weight: 600;
        }
    }
}