<div class="container">
    <div class="links">
        <a href="mailto:mikicuellar20@gmail.com">
            Contacteme
        </a>
        <a href="https://wa.me/59178071967?text=I'm%20inquiring%20about%20the%20apartment%20listing`">
            +591 78071967
        </a>
    </div>
    
    <ul class="list-contain">
    
        <li *ngFor="let item of itemNavBar" class="list-item" 
        routerLinkActive="select" [routerLink]="item.routerLink">
            <i [class]="item.icon"></i>
            <div>
                {{ item.label }}
            </div>
        </li>
    </ul>
    
</div>