
<div class="contain">

    <h1 class="text-6xl">Proyectos</h1>
    
    <hr>
    <h2 class="text-4xl p-4 text-center">Sin Frameworks</h2>
    <hr>

    <div class="containGallery">
        <div *ngFor="let basico of proyectsBasicos">
            <c-galeria [proyect]="basico"></c-galeria>
        </div>
    </div>

    <hr>
    <h2 class="text-4xl p-4 text-center">Proyectos completos</h2>
    <hr>

    <div class="containGallery">
        <div *ngFor="let avanzado of proyectsAvanzado">
            <c-galeria [proyect]="avanzado"></c-galeria>
        </div>
    </div>

</div>

<c-footer></c-footer>
