
#conocimiento{
    padding: var(--width-nav-bar) 0;
    color: #fff;
    background: var(--black-700);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .title{
        display: grid;
        justify-items: center;
        h1{
            text-align: center;
            font-size: 2.5rem;
        }
        p{ width: 55%; }
    }
    .containt-skills{
        margin-top: 35px;
        width: 100%;
        ul{
            display: flex;
            justify-content: center;
            gap: 3rem;
            flex-wrap: wrap;
            li{
                
            }
        }
    }
}