
<div id="conocimiento">

    <div class="container">
        <div class="title">
            <h1 class="text-linear">Aptitudes</h1>
            <p class="text-center">
                Me destaco en estos lenguajes. Uno más que otro, cada día aprendiendo más a base de proyectos y esfuerzo.
            </p>
        </div>
        <div class="containt-skills">
            <ul>
                <li *ngFor="let skill of skills">
                    <div class="contain-skill">
                        <div>
                            <img [src]="skill.srcImage" alt="">
                        </div>
                        <span> {{ skill.percent }}% </span>
                    </div>
                    <h4>{{ skill.nameSkill }}</h4>
                </li>
            </ul>
        </div>
    </div>
</div>