.main{
    width: 100vw;
    height: 60vh;
    background: #000000;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}