<div>

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ratione debitis culpa. Assumenda earum eveniet iste sapiente quas sed, odit a ipsa ullam quod, tempora tempore. Ipsam tempora aperiam voluptatum?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ratione debitis culpa. Assumenda earum eveniet iste sapiente quas sed, odit a ipsa ullam quod, tempora tempore. Ipsam tempora aperiam voluptatum?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ratione debitis culpa. Assumenda earum eveniet iste sapiente quas sed, odit a ipsa ullam quod, tempora tempore. Ipsam tempora aperiam voluptatum?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ratione debitis culpa. Assumenda earum eveniet iste sapiente quas sed, odit a ipsa ullam quod, tempora tempore. Ipsam tempora aperiam voluptatum?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ratione debitis culpa. Assumenda earum eveniet iste sapiente quas sed, odit a ipsa ullam quod, tempora tempore. Ipsam tempora aperiam voluptatum?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ratione debitis culpa. Assumenda earum eveniet iste sapiente quas sed, odit a ipsa ullam quod, tempora tempore. Ipsam tempora aperiam voluptatum?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ratione debitis culpa. Assumenda earum eveniet iste sapiente quas sed, odit a ipsa ullam quod, tempora tempore. Ipsam tempora aperiam voluptatum?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ratione debitis culpa. Assumenda earum eveniet iste sapiente quas sed, odit a ipsa ullam quod, tempora tempore. Ipsam tempora aperiam voluptatum?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ratione debitis culpa. Assumenda earum eveniet iste sapiente quas sed, odit a ipsa ullam quod, tempora tempore. Ipsam tempora aperiam voluptatum?
</div>

<div class="">
    <p-timeline [value]="proyectos" align="alternate"
    styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-event>
            <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                <i [ngClass]="event.icon"></i>
            </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.status" [subheader]="event.date">
                <img *ngIf="event.image" [src]="'assets/img/' + event.image" [alt]="event.name" width="200px" height="250px" class="shadow-2" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque quas!
                </p>
                <a target="_blank"
                [href]="event.href">
                    <button pButton 
                    label="Read more" class="p-button-text">
                        
                    </button>        
                </a>
            </p-card>
        </ng-template>
    </p-timeline>
</div>