
<h1 class="text-6xl">Proyectos</h1>

<div class="containGallery">

    <p-galleria 
        [value]="images" 
        [showIndicatorsOnItem]="false"
        [showIndicators]="true" 
        [showThumbnails]="false" 
        [responsiveOptions]="responsiveOptions" 
        [containerStyle]="{ 'max-width': '500px' }">

        <ng-template pTemplate="item" let-item>
            <img [src]="item.itemImageSrc" style="width: 500px; display: block; height: 500px;" />
        </ng-template>
        <ng-template pTemplate="caption" let-item>
            <h4 style="margin-bottom: .5rem; color: #ffffff;">{{ item.title }}</h4>
            <p class="mb-2">{{ item.alt }}</p>

            <a [href]="item.href" target="_blank">
                <p-button label="Preview" styleClass="p-button-info p-button-text">
                </p-button>
            </a>
        </ng-template>
    </p-galleria>
</div>


<h1 class="text-6xl">Experiencia</h1>

<div class="containGallery">

</div>