<div class="contain">
  <div class="container">
    <main>
      <section class="formulario">
        <div class="title">
          <h1 class="text-linear">
            Contactame
          </h1>
        </div>
        <form>
          <input type="text" placeholder="Correo">
          <input type="text" placeholder="Nombre">
          <input type="text" placeholder="Motivo">
          <textarea name="" placeholder="Mensaje"></textarea>
          <input class="btn" type="submit">
        </form>
      </section>

      <section class="enlaces">
        <ul>
          <li *ngFor="let item of redes">
            <div class="content-icon">
              <i [class]="item.icon"></i>
            </div>
            <a href="{{ item.href }}" target="_blank">
              {{ item.title }}
            </a>
          </li>
        </ul>
      </section>
    </main>
  </div>
</div>