<div class="contain">
  <div class="container">
    <div class="title">
      <h1 class="text-linear">
        Contactame
      </h1>
    </div>

    <main>
      <section class="formulario">
        <h2>Subtitle</h2>
        <form>
          <input type="text">
          <input type="text">
          <input type="text">
          <textarea name="" ></textarea>
          <input type="submit">
        </form>
      </section>

      <section class="enlaces">
        <div>
          <ul>
            <li>Gmail</li>
          </ul>
        </div>
      </section>
    </main>
  </div>
</div>