/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root{
    --blue-500:#3b82f6 !important;
    --blue-600:#051d44 !important;
    --blue-700:#010e20 !important;

    --black-500: #222 !important;
    --black-600: #111 !important;
    --black-700: #000 !important;

    --yellow-500: #e7c576 !important;
    --yellow-600: #FFC100 !important;
    --yellow-700: #d0a61134 !important;

    --width-nav-bar: 120px;

    --tj-ff-russo: "Russo One", sans-serif;
    --ff-logo: "Caveat", cursive;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-family);
    /* overflow: hidden; */
}

.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin: 0 auto;
}

.text-linear{
    background: linear-gradient(to right, var(--yellow-400) 0%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title{
    display: grid;
}
.title h1{
    text-align: center;
    font-size: 2.5rem;
}
.title p{ width: 70%; }

.img-icon{
    width: 60px;
    height: 60px;
}

@media screen and (max-width: 320px){
    .title h1{
        font-size: 2em;
    }
    .img-icon{
        width: 40px;
        height: 40px;
    }
}
@media screen and (min-width: 576px){
    .container{
        max-width: 540px;
    }
}
@media screen and (min-width: 768px){
    .container{
        max-width: 720px;
    }
}
@media screen and (min-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media screen and (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
@media screen and (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
}