/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
:root{
    --blue-50:#f5f9ff;
    --blue-100:#d0e1fd;
    --blue-200:#abc9fb;
    --blue-300:#85b2f9;
    --blue-400:#609af8;
    --blue-500:#3b82f6;
    --blue-600:#326fd1;
    --blue-700:#295bac;
    --blue-800:#204887;
    --blue-900:#183462;

    --black-600: #111;
    --black-500: #222;
    --black-400: #333;

    --weight-nav-bar: 70px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    font-family: var(--font-family);
    /* overflow: hidden; */
}
