$size-border: 5px;

header{
    // height: calc(100vh - var(--width-nav-bar));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    background-image: url('../../../assets/img/fondo5.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 10px;

    .data{
        color: white;
        
        h1{
            font-size: 2em;
            padding: 5px;
            background-color: black;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border: $size-border solid var(--blue-500);
        }

        .text{
            color: var(--blue-700);
            font-size: 1.2em;

            .first, .last{
                background: black;
                padding: 5px;
            }
            
            .first{
                width: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-bottom: $size-border solid var(--blue-500);
                border-right: $size-border solid var(--blue-500);
                border-left: $size-border solid var(--blue-500);
            }

            .last{
                width: 70%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                border-right: $size-border solid var(--blue-500);
                border-bottom: $size-border solid var(--blue-500);
                border-left: $size-border solid var(--blue-500);
            }
        }
    }

    .profile{
        position: absolute;
        bottom: 35px;
        left: 0;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    
    .ul-redes{
        position: absolute;
        bottom: 5px;
        left: 5px;
    }
}


@media screen and ( max-width: 520px ) {
    header{
        .data{
            h1{
                font-size: 1.5em;
            }

            .text{
                font-size: 1em;
            }
        }
    }
}

@media screen and ( max-width: 300px ) {
    header{
        .data{
            h1{
                font-size: 1.2em;
            }

            .text{
                font-size: .7em;
            }
        }
    }
}