.contain{
    padding-top : var(--width-nav-bar);
    background-color: var(--black-600);
    min-height: 100vh;
    color: #fff;

    .title{
        display: grid;
        justify-items: center;
        h1{ font-size: 2.5rem; }
        p{ text-align: center; }
    }

    .containGallery{
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 50px 0;

        .filters{
            width: 100%;
            ul{
                display: flex;
                justify-content: center;
                gap: 20px;

                li{
                    background: var(--yellow-600);
                    color: black;
                    padding: 5px;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}