.contain{
    padding-top : var(--width-nav-bar);
    background-color: var(--black-600);
    min-height: 100vh;
    color: #fff;

    .title{
        display: grid;
        justify-items: center;
        h1{ font-size: 2.5rem; }
        p{ text-align: center; }
    }

    .containGallery{
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 50px 0;

        .filters{
            width: 100%;
            ul{
                display: flex;
                justify-content: center;
                gap: 20px;
                flex-wrap: wrap;

                li{
                    background: var(--yellow-600);
                    color: black;
                    padding: 5px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all .5s;

                    // &:hover{
                    // }
                }
            }
            
            ul .filter-select {
                color: #ffffff;
                background: var(--yellow-700);
                font-weight: bold;
            }
        }

        .contain-galery{
            animation: appearGallery .8s forwards ease-in-out;
        }

    }
}

@keyframes appearGallery {
    0%{
        opacity: 0;
        transform: scale(1.05);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}