<div class="contain">
    <div class="container">

        <div class="title">
            <h1 class="text-linear">Proyectos <b *ngIf="isProyectInProgress">en proceso</b> </h1>
            <p *ngIf="!isProyectInProgress">
                Hecha un vistazo a mis proyectos. Todos estos proyectos son personales, comenzados desde 0.
            </p>
        </div>
    
        <div class="containGallery containProyects" *ngIf="!isProyectInProgress ; else inProgress">
            <div class="btnToggleProyects" *ngIf="listProyectsInProgress.length > 0" (click)="toggleProyects()">
                Ver proyectos en proceso
            </div>
            <div class="filters">
                <ul>
                    <li *ngFor="let filter of filters"
                        (click)="filterByCategory(filter.category)"
                        [ngClass]="{ 'filter-select': filter.category == currentCategory }">
                        {{ filter.name }}
                    </li>
                </ul>
            </div>

            <div *ngFor="let proyect of listProyects" class="contain-galery">
                <c-galeria [proyect]="proyect"></c-galeria>
            </div>
            <div class="container">
                <app-pagination [count]="pagination.count" [limit]="pagination.limit"
                (onChangeOffset)="onChangeOffset($event)">
            
                </app-pagination>
            </div>
        </div>

        <ng-template #inProgress>
            <div class="inProgressTitle">
                <div class="btnToggleProyects" (click)="toggleProyects()">
                    Ver proyectos completos
                </div>
            </div>
            <div class="containGallery">

                <div *ngFor="let proyect of listProyectsInProgress" class="contain-galery">
                    <c-preview-proyect [proyect]="proyect"></c-preview-proyect>
                </div>
            </div>
        </ng-template>
        
    
    </div>    
</div>