<div class="contain">
    <div class="container">

        <div class="title">
            <h1 class="text-linear">Proyectos</h1>
            <p>
                Proyectos hechos personalmente. Con la idea de poner en practica lo aprendido.
            </p>
        </div>
    
        <div class="containGallery">
            <div class="filters">
                <ul>
                    <li *ngFor="let filter of filters"
                        (click)="filterByCategory(filter.category)"
                        [ngClass]="{ 'filter-select': filter.category == currentCategory }">
                        {{ filter.name }}
                    </li>
                </ul>
            </div>

            <div *ngFor="let proyect of listProyects" class="contain-galery">
                <c-galeria [proyect]="proyect"></c-galeria>
            </div>
        </div>
    
    </div>    
</div>