
.contenido{
    min-height: 100vh;
    padding : var(--width-nav-bar) 10px;
    background: var(--black-500);

    .contain-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 5px;
    }
}

@media screen and ( max-width: 920px ) {
    .contenido{
        .contain-cards{
            grid-template-columns: 1fr;
        }
    }
}
